{% extends "base_generic.html" %}

{% block content %}
<h2>Classements</h2>
<nav>
  <a href="{% url 'ratings' 'M'%}">Masculin</a>
  <a href="{% url 'ratings' 'F'%}">Féminin</a>
  <a href="{% url 'ratings' 'X'%}">Mixte</a>
</nav>
{% if ratings %}
<table class="ranking">
  <thead>
    <tr>
      <th class="rank">Rang</th>
      <th>Nom</th>
      <th class="elo">Elo</th>
      <th class="matches">
        <span class="short-text">M.</span>
        <span class="long-text">Matchs</span>
      </th>
      <th class="cat">
        <span class="short-text">Cat.</span>
        <span class="long-text">Catégories</span>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for team in ratings %}
    <tr class="{% if team.matches > 9 %} reliable {% else %} uncertain {% endif %}">
      <td>{{ forloop.counter }}</td>
      <td><a href="{{ team.name.get_absolute_url }}">
          {{ team.name }}</a></td>
      <td>{{ team.elo }}</td>
      <td>{{ team.matches }}</td>
      <td>{{ team.cat }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>
{{ serialized_ratings|json_script:"ratings-data" }}
<script type="text/javascript">
  let ratings = JSON.parse(document.getElementById("ratings-data").textContent);
  ratings = ratings.map(team => {
    return {
      name: team.name,
      elo: team.elo,
      faces: JSON.parse(team.faces)
    };
  });
  console.log(ratings);
</script>
{% endif %}
{% endblock %}
